<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 hot-button-positions.plist
 autobiography
 
 Created by William Rosenbloom on 4/3/16.
 Copyright (c) 2016 William Rosenbloom. All rights reserved.
 -->
<plist version="1.0">
    <dict>
        <key>handwritten</key>
        <dict>
            <key>pages.cover</key>
            <array>
                <!-- no hot buttons for cover page -->
            </array>
            <key>pages.1</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>1</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.85190279688216420000</real>
                            <key>frame.y</key>
                            <real>0.00562550227698901700</real>
                            <key>frame.width</key>
                            <real>0.14305364511691884000</real>
                            <key>frame.height</key>
                            <real>0.03482453790517010000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>2</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.81522237505731320000</real>
                            <key>frame.y</key>
                            <real>0.04634342351995714000</real>
                            <key>frame.width</key>
                            <real>0.16689591930307200000</real>
                            <key>frame.height</key>
                            <real>0.02089472274310206400</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01329665291150848200</real>
                            <key>frame.y</key>
                            <real>0.07902491293865524000</real>
                            <key>frame.width</key>
                            <real>0.31270059605685463000</real>
                            <key>frame.height</key>
                            <real>0.03830699169568712000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>3</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.88766620816139390000</real>
                            <key>frame.y</key>
                            <real>0.10581301901955532000</real>
                            <key>frame.width</key>
                            <real>0.09124254928931683000</real>
                            <key>frame.height</key>
                            <real>0.02384141441200107000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>4</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.60889500229252640000</real>
                            <key>frame.y</key>
                            <real>0.26868470399142780000</real>
                            <key>frame.width</key>
                            <real>0.33837689133425036000</real>
                            <key>frame.height</key>
                            <real>0.02839539244575408500</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01696469509399358200</real>
                            <key>frame.y</key>
                            <real>0.30993838735601390000</real>
                            <key>frame.width</key>
                            <real>0.12654745529573590000</real>
                            <key>frame.height</key>
                            <real>0.02143048486472006300</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>5</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.06327372764786796000</real>
                            <key>frame.y</key>
                            <real>0.59416019287436380000</real>
                            <key>frame.width</key>
                            <real>0.23154516276937184000</real>
                            <key>frame.height</key>
                            <real>0.03964639699973212000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>6</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01558917927556166900</real>
                            <key>frame.y</key>
                            <real>0.66327350656308600000</real>
                            <key>frame.width</key>
                            <real>0.18936267767079320000</real>
                            <key>frame.height</key>
                            <real>0.03134208411465309000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>7</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.89316827143512150000</real>
                            <key>frame.y</key>
                            <real>0.75515671042057330000</real>
                            <key>frame.width</key>
                            <real>0.07519486474094451000</real>
                            <key>frame.height</key>
                            <real>0.02330565229038307000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00917010545621274600</real>
                            <key>frame.y</key>
                            <real>0.79748191802839540000</real>
                            <key>frame.width</key>
                            <real>0.35763411279229710000</real>
                            <key>frame.height</key>
                            <real>0.02973479774979908800</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>8</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.39202200825309490000</real>
                            <key>frame.y</key>
                            <real>0.90624162871684980000</real>
                            <key>frame.width</key>
                            <real>0.17469050894085280000</real>
                            <key>frame.height</key>
                            <real>0.02705598714170908200</real>
                        </dict>
                    </array>
                </dict>
            </array>
            <key>pages.2</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>9</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.88338732068486810000</real>
                            <key>frame.y</key>
                            <real>0.14829713059801555000</real>
                            <key>frame.width</key>
                            <real>0.08236927348449792000</real>
                            <key>frame.height</key>
                            <real>0.02198980960042907000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00370198981952799640</real>
                            <key>frame.y</key>
                            <real>0.17457763475462590000</real>
                            <key>frame.width</key>
                            <real>0.24849606663581675000</real>
                            <key>frame.height</key>
                            <real>0.02413515687851971000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>10</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.08745950948634891000</real>
                            <key>frame.y</key>
                            <real>0.23840171627782247000</real>
                            <key>frame.width</key>
                            <real>0.80981027302174920000</real>
                            <key>frame.height</key>
                            <real>0.03861625100563153400</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>11</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.44932901434521055000</real>
                            <key>frame.y</key>
                            <real>0.33521051220166265000</real>
                            <key>frame.width</key>
                            <real>0.50670985654789450000</real>
                            <key>frame.height</key>
                            <real>0.03486189326897292000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00971772327626099000</real>
                            <key>frame.y</key>
                            <real>0.36658621614373826000</real>
                            <key>frame.width</key>
                            <real>0.96807033780657100000</real>
                            <key>frame.height</key>
                            <real>0.04183427192276750000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>12</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.57936140675613150000</real>
                            <key>frame.y</key>
                            <real>0.50174309466344870000</real>
                            <key>frame.width</key>
                            <real>0.39287366959740860000</real>
                            <key>frame.height</key>
                            <real>0.02788951461517833300</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>13</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.72281351226284130000</real>
                            <key>frame.y</key>
                            <real>0.66559399302762130000</real>
                            <key>frame.width</key>
                            <real>0.24155483572420175000</real>
                            <key>frame.height</key>
                            <real>0.03057119871279163200</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00462748727440999500</real>
                            <key>frame.y</key>
                            <real>0.69267900241351570000</real>
                            <key>frame.width</key>
                            <real>0.76677464136973630000</real>
                            <key>frame.height</key>
                            <real>0.04344328238133548000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>14</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.80703378065710320000</real>
                            <key>frame.y</key>
                            <real>0.73397693751676050000</real>
                            <key>frame.width</key>
                            <real>0.18648773715872283000</real>
                            <key>frame.height</key>
                            <real>0.02654867256637168000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00555298472929199400</real>
                            <key>frame.y</key>
                            <real>0.76320729418074550000</real>
                            <key>frame.width</key>
                            <real>0.41184636742248960000</real>
                            <key>frame.height</key>
                            <real>0.03647090372754089500</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>15</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.68810735770476630000</real>
                            <key>frame.y</key>
                            <real>0.89300080450522920000</real>
                            <key>frame.width</key>
                            <real>0.29523368810735773000</real>
                            <key>frame.height</key>
                            <real>0.03244837758112094400</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00601573345673299400</real>
                            <key>frame.y</key>
                            <real>0.92437650844730490000</real>
                            <key>frame.width</key>
                            <real>0.50439611291068950000</real>
                            <key>frame.height</key>
                            <real>0.03727540895682488600</real>
                        </dict>
                    </array>
                </dict>
            </array>
            <key>pages.3</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>16</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.15395157606212884000</real>
                            <key>frame.y</key>
                            <real>0.04512683578104139000</real>
                            <key>frame.width</key>
                            <real>0.32252169940612150000</real>
                            <key>frame.height</key>
                            <real>0.04379172229639519000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>17</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.90726359068067610000</real>
                            <key>frame.y</key>
                            <real>0.08277703604806408000</real>
                            <key>frame.width</key>
                            <real>0.06578346276838740000</real>
                            <key>frame.height</key>
                            <real>0.02029372496662216300</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00456829602558245750</real>
                            <key>frame.y</key>
                            <real>0.12069425901201603000</real>
                            <key>frame.width</key>
                            <real>0.11420740063956145000</real>
                            <key>frame.height</key>
                            <real>0.02002670226969292500</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>18</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.17039744175422566000</real>
                            <key>frame.y</key>
                            <real>0.10974632843791722000</real>
                            <key>frame.width</key>
                            <real>0.77112836911831880000</real>
                            <key>frame.height</key>
                            <real>0.04005340453938585000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00502512562814070400</real>
                            <key>frame.y</key>
                            <real>0.14125500667556742000</real>
                            <key>frame.width</key>
                            <real>0.98035632708999540000</real>
                            <key>frame.height</key>
                            <real>0.04539385847797063000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00502512562814070400</real>
                            <key>frame.y</key>
                            <real>0.18291054739652870000</real>
                            <key>frame.width</key>
                            <real>0.20374600274097762000</real>
                            <key>frame.height</key>
                            <real>0.03444592790387182600</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>19</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.83691183188670630000</real>
                            <key>frame.y</key>
                            <real>0.27823765020026703000</real>
                            <key>frame.width</key>
                            <real>0.09639104613978985000</real>
                            <key>frame.height</key>
                            <real>0.02242990654205607300</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.00502512562814070400</real>
                            <key>frame.y</key>
                            <real>0.30947930574098800000</real>
                            <key>frame.width</key>
                            <real>0.29556875285518500000</real>
                            <key>frame.height</key>
                            <real>0.03845126835781042000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>20</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01416171767930562000</real>
                            <key>frame.y</key>
                            <real>0.39919893190921230000</real>
                            <key>frame.width</key>
                            <real>0.83325719506624030000</real>
                            <key>frame.height</key>
                            <real>0.03845126835781042000</real>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <key>typed</key>
        <dict>
            <key>pages.cover</key>
            <array>
                <!-- no hot buttons for cover page -->
            </array>
            <key>pages.1</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>1</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.80467675378266850000</real>
                            <key>frame.y</key>
                            <real>0.01660862577015805000</real>
                            <key>frame.width</key>
                            <real>0.16735442457588262000</real>
                            <key>frame.height</key>
                            <real>0.02250200910795606800</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>2</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.73681797340669420000</real>
                            <key>frame.y</key>
                            <real>0.04875435306723814600</real>
                            <key>frame.width</key>
                            <real>0.15726730857404860000</real>
                            <key>frame.height</key>
                            <real>0.01928743637824806000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01696469509399358200</real>
                            <key>frame.y</key>
                            <real>0.08143584248593624000</real>
                            <key>frame.width</key>
                            <real>0.28839981659789090000</real>
                            <key>frame.height</key>
                            <real>0.02196624698633806500</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>3</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.74644658413571750000</real>
                            <key>frame.y</key>
                            <real>0.11384945084382535000</real>
                            <key>frame.width</key>
                            <real>0.10866574965612105000</real>
                            <key>frame.height</key>
                            <real>0.01955531743905705700</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>4</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.52453003209536910000</real>
                            <key>frame.y</key>
                            <real>0.27457808732922584000</real>
                            <key>frame.width</key>
                            <real>0.28014672168729940000</real>
                            <key>frame.height</key>
                            <real>0.02437717653361907300</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01879871618523613000</real>
                            <key>frame.y</key>
                            <real>0.30645593356549694000</real>
                            <key>frame.width</key>
                            <real>0.12883998165978908000</real>
                            <key>frame.height</key>
                            <real>0.02089472274310206400</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>5</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.05410362219165520000</real>
                            <key>frame.y</key>
                            <real>0.59924993302973480000</real>
                            <key>frame.width</key>
                            <real>0.17010545621274645000</real>
                            <key>frame.height</key>
                            <real>0.02384141441200107000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>6</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01925722145804677000</real>
                            <key>frame.y</key>
                            <real>0.66380926868470400000</real>
                            <key>frame.width</key>
                            <real>0.15314076111875286000</real>
                            <key>frame.height</key>
                            <real>0.02410929547281007000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>7</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.82668500687757910000</real>
                            <key>frame.y</key>
                            <real>0.76158585587998930000</real>
                            <key>frame.width</key>
                            <real>0.03438789546079780000</real>
                            <key>frame.height</key>
                            <real>0.01982319849986606000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01375515818431911900</real>
                            <key>frame.y</key>
                            <real>0.79319582105545140000</real>
                            <key>frame.width</key>
                            <real>0.30444750114626320000</real>
                            <key>frame.height</key>
                            <real>0.02384141441200107000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>8</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.36405318661164604000</real>
                            <key>frame.y</key>
                            <real>0.91106348781141180000</real>
                            <key>frame.width</key>
                            <real>0.10820724438331040000</real>
                            <key>frame.height</key>
                            <real>0.01848379319582105600</real>
                        </dict>
                    </array>
                </dict>
            </array>
            <key>pages.2</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>9</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.78806108283202230000</real>
                            <key>frame.y</key>
                            <real>0.14454277286135694000</real>
                            <key>frame.width</key>
                            <real>0.06617306802406293000</real>
                            <key>frame.height</key>
                            <real>0.02118530437114508000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01388246182322998600</real>
                            <key>frame.y</key>
                            <real>0.17699115044247787000</real>
                            <key>frame.width</key>
                            <real>0.20453493752892180000</real>
                            <key>frame.height</key>
                            <real>0.02091713596138375000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>10</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.10828320222119389000</real>
                            <key>frame.y</key>
                            <real>0.24215607401448108000</real>
                            <key>frame.width</key>
                            <real>0.60342434058306340000</real>
                            <key>frame.height</key>
                            <real>0.02333065164923572000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>11</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.39009717723276260000</real>
                            <key>frame.y</key>
                            <real>0.33950120675784390000</real>
                            <key>frame.width</key>
                            <real>0.42434058306339656000</real>
                            <key>frame.height</key>
                            <real>0.02359882005899705000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01527070800555298400</real>
                            <key>frame.y</key>
                            <real>0.37060874229015820000</real>
                            <key>frame.width</key>
                            <real>0.61591855622397040000</real>
                            <key>frame.height</key>
                            <real>0.02574416733708769000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>12</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.38685793614067560000</real>
                            <key>frame.y</key>
                            <real>0.50227943148297130000</real>
                            <key>frame.width</key>
                            <real>0.28181397501156874000</real>
                            <key>frame.height</key>
                            <real>0.01850362027353178000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>13</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.63905599259602030000</real>
                            <key>frame.y</key>
                            <real>0.66291230893000810000</real>
                            <key>frame.width</key>
                            <real>0.24294308190652475000</real>
                            <key>frame.height</key>
                            <real>0.02520783051756503000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01527070800555298400</real>
                            <key>frame.y</key>
                            <real>0.69643336015017430000</real>
                            <key>frame.width</key>
                            <real>0.66404442387783440000</real>
                            <key>frame.height</key>
                            <real>0.02467149369804237000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>14</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.72466450717260520000</real>
                            <key>frame.y</key>
                            <real>0.72861356932153390000</real>
                            <key>frame.width</key>
                            <real>0.23415085608514577000</real>
                            <key>frame.height</key>
                            <real>0.02172164119066774000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01203146691346598800</real>
                            <key>frame.y</key>
                            <real>0.76159828372217750000</real>
                            <key>frame.width</key>
                            <real>0.31559463211476170000</real>
                            <key>frame.height</key>
                            <real>0.02386698846875838000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>15</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.57797316057380840000</real>
                            <key>frame.y</key>
                            <real>0.89192813086618390000</real>
                            <key>frame.width</key>
                            <real>0.17815826006478483000</real>
                            <key>frame.height</key>
                            <real>0.01984446232233842700</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.01295696436834798700</real>
                            <key>frame.y</key>
                            <real>0.92303566639849820000</real>
                            <key>frame.width</key>
                            <real>0.43498380379453955000</real>
                            <key>frame.height</key>
                            <real>0.02172164119066774000</real>
                        </dict>
                    </array>
                </dict>
            </array>
            <key>pages.3</key>
            <array>
                <dict>
                    <key>index</key>
                    <integer>16</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.15851987208771130000</real>
                            <key>frame.y</key>
                            <real>0.04993324432576769000</real>
                            <key>frame.width</key>
                            <real>0.25034262220191866000</real>
                            <key>frame.height</key>
                            <real>0.02616822429906542200</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>17</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.78985838282320700000</real>
                            <key>frame.y</key>
                            <real>0.08491321762349800000</real>
                            <key>frame.width</key>
                            <real>0.07720420283234354000</real>
                            <key>frame.height</key>
                            <real>0.01815754339118825000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.02192782092279580000</real>
                            <key>frame.y</key>
                            <real>0.11401869158878504000</real>
                            <key>frame.width</key>
                            <real>0.11877569666514390000</real>
                            <key>frame.height</key>
                            <real>0.02536715620827770200</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>18</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.15943353129282778000</real>
                            <key>frame.y</key>
                            <real>0.11455273698264352000</real>
                            <key>frame.width</key>
                            <real>0.64047510278666050000</real>
                            <key>frame.height</key>
                            <real>0.02483311081441922500</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.02192782092279580000</real>
                            <key>frame.y</key>
                            <real>0.14659546061415220000</real>
                            <key>frame.width</key>
                            <real>0.82503426222019180000</real>
                            <key>frame.height</key>
                            <real>0.02563417890520694000</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.02238465052535404400</real>
                            <key>frame.y</key>
                            <real>0.18024032042723630000</real>
                            <key>frame.width</key>
                            <real>0.16263133851073550000</real>
                            <key>frame.height</key>
                            <real>0.02403204272363151000</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>19</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.73321151210598450000</real>
                            <key>frame.y</key>
                            <real>0.27583444592790385000</real>
                            <key>frame.width</key>
                            <real>0.06806761078117862000</real>
                            <key>frame.height</key>
                            <real>0.02296395193591455400</real>
                        </dict>
                        <dict>
                            <key>frame.x</key>
                            <real>0.02238465052535404400</real>
                            <key>frame.y</key>
                            <real>0.30787716955941250000</real>
                            <key>frame.width</key>
                            <real>0.28871630881681130000</real>
                            <key>frame.height</key>
                            <real>0.02429906542056074800</real>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>index</key>
                    <integer>20</integer>
                    <key>locations</key>
                    <array>
                        <dict>
                            <key>frame.x</key>
                            <real>0.02329830973047053400</real>
                            <key>frame.y</key>
                            <real>0.40667556742323097000</real>
                            <key>frame.width</key>
                            <real>0.63956144358154410000</real>
                            <key>frame.height</key>
                            <real>0.02109479305740988000</real>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
